/* text */

p {
    color: blue;
}
i {
    color: red;
}
.card-text {
    color: black;
}
.btn {
    size: 20px;
}
.btn:hover {
    background-color: red;
    color: yellow;
}
h2 {
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 50% 50%;
}
/* larger content */
#roundOneContainer {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231231/pngtree-unlimited-linear-background-dark-gray-striped-texture-in-vector-seamless-abstract-image_13922701.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#roundTwoContainer {
    background-image: url("https://img.freepik.com/free-vector/concert-stage-stairs-with-spotlights-confetti_107791-29272.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}