/* text */

p {
    color: blue;
}
i {
    color: red;
}
.card-text {
    color: black;
}
.btn {
    size: 20px;
}
.btn:hover {
    background-color: red;
    color: yellow;
}
h2 {
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 50% 50%;
}
/* larger content */
#roundOneContainer {
    background-image: url("imgs/blackbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#roundTwoContainer {
    background-image: url("imgs/finalstage.avif");
    background-repeat: no-repeat;
    background-size: cover;
}